.SocialMediaContactUs {
  display: inline-block;
  margin: 3px;
  margin-bottom: 25px;
}

.SocialMediaContactUs:hover {
  transition-duration: 0.5s;
  transform: scale(1.19) rotate(360deg);
}

.SocialMediaContactUs:active {
  transform: scale(0.95);
}
