.latest-games {
  width: 31.3%;
  height: auto;
  border-radius: 15px;
  margin: 1%;
}

.latest-games:hover {
  transform: scale(1.05);
}

.latest-games:active {
  transform: scale(0.95);
}

.share-icons {
  display: block;
  margin: 0 1px;
}

.share-icons:hover {
  cursor: pointer;
  transform: scale(1.05) rotate(360deg);
  transition-duration: 0.7s;
}

.share-icons:active {
  transform: scale(0.95);
}

.small-gallery {
  width: 50%;
  height: auto;
  overflow: hidden;
}

svg {
  margin: 0 3px;
}

.description-text {
  width: 50%;
  height: auto;
}

.latest-games-wapper {
  display: flex;
}

@media (max-width: 500px) {
  .latest-games {
    width: 48%;
  }
  .small-gallery {
    width: 100%;
    margin-bottom: 3%;
  }
  .description-text {
    width: 100%;
  }
  .latest-games-wapper {
    flex-direction: column-reverse;
  }
}
