.latest-games {
  width: 95%;
  height: auto;
  border-radius: 15px;
  display: inline-block;
  margin-top: 10%;
}

.picture-size-controller {
  width: 31.3%;
  display: inline-block;
}
.h1-tags {
  font-size: 20px;
  margin: 7% 0 1% 0;
}

.game-name-div {
  font-size: 25px;
  cursor: pointer;
}

.game-name-div:hover {
  transition-duration: 0.5s;
  color: #af1f1f;
}

.inline-block-div {
  margin-right: -7%;
}

.latest-games:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.latest-games:active {
  transform: scale(0.95);
}

.share-icons {
  display: block;
  margin: 0 1px;
}

.share-icons:hover {
  cursor: pointer;
  transform: scale(1.05) rotate(360deg);
  transition-duration: 0.7s;
}

.share-icons:active {
  transform: scale(0.95);
}

.small-gallery {
  width: 50%;
  height: auto;
  overflow: hidden;
}

svg {
  margin: 0 3px;
}

.description-text {
  width: 50%;
  height: auto;
}

.latest-games-wapper {
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .game-name-div {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .game-name-div {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .latest-games {
    width: 95%;
  }
  .small-gallery {
    width: 100%;
    margin-bottom: 3%;
  }
  .description-text {
    width: 100%;
  }
  .latest-games-wapper {
    flex-direction: column-reverse;
  }
  .picture-size-controller {
    width: 49%;
  }
  .game-name-div {
    font-size: 15px;
  }
}
