#navigationUl {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 30px;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
  transition-duration: 0.5s;
  transform: scale(1.19);
  color: rgb(255, 255, 255);
}

nav {
  overflow: hidden;

  border-radius: 10px;
}
nav li {
  font-size: 25px;
  font-weight: bold;
  color: #ffff;
}

nav li:hover {
  color: #af1f1f;
  cursor: pointer;
}

nav li:visited {
  color: #fff;
}

nav .navWide {
  display: none;
  margin: 0 auto;
}
nav .navWide .wideDiv {
  text-align: center;
}
nav .navWide .wideDiv li {
  text-decoration: none;
  display: inline-block;
  padding: 15px 15px;
}
nav .navNarrow img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  color: white;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
nav .navNarrow .narrowLinks {
  display: none;
  padding-left: 15px;
  margin-bottom: 15px;
}
nav .navNarrow .narrowLinks li {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  padding: 10px;
}

ul {
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#socialMediaIconsNavigation {
  margin-top: 25px;
}

.socialMediaImagesNavigation {
  margin: 0 5px;
}

.socialMediaImagesNavigation:hover {
  cursor: pointer;
  transition-duration: 0.5s;
  transform: scale(1.19) rotate(360deg);
}

@media (max-width: 1180px) {
  nav .navWide .wideDiv li {
    font-size: 18px;
    padding: 13px 10px;
  }
  ul {
    display: block;
    padding: 0;
    /* width: 0 3%; */
  }
}

@media (min-width: 991px) {
  nav .navWide {
    display: block;
  }
  nav .navNarrow {
    display: none;
  }
  #socialMediaIconsNavigation {
    display: none;
  }
  ul {
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 990px) {
  #navigationBorder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: auto;
  }
  nav li {
    font-size: 15px;
  }
}

.pulsingLogo {
  animation: pulse 3s infinite;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

.ocialMediaIconsNavigation {
  display: none;
}
#socialMediaImageNavigation {
  display: none;
}

@media (max-width: 991px) {
  #socialMediaImageNavigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 50px;
  }

  .socialMediaIconsNavigation {
    display: inline-block;
    margin: 3px;
  }

  .socialMediaIconsNavigation:hover {
    transition-duration: 0.5s;
    transform: scale(1.19) rotate(360deg);
  }

  .socialMediaIconsNavigation:active {
    transform: scale(0.95);
  }
}
