#navigationUl {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 30px;
  padding-left: 0;
}

.navigationLi {
  margin: 0 3%;
}

a {
  text-decoration: none;
  color: red;
}
