#socialMediaIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 50px;
}

.socialMediaImages {
  display: inline-block;
  margin: 3px;
}

.socialMediaImages:hover {
  transition-duration: 0.5s;
  transform: scale(1.19) rotate(360deg);
}

.socialMediaImages:active {
  transform: scale(0.95);
}

@media (max-width: 991px) {
  .socialMediaImages {
    display: none;
  }
  #socialMediaIcons {
    display: none;
  }
}
