#socialMediaIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 3%;
  padding-top: 50px;
}

.socialMediaImages {
  display: inline-block;
  margin: 3px;
}

@media (max-width: 991px) {
  .socialMediaImages {
    display: none;
  }
  #socialMediaIcons {
    display: none;
  }
}
